 <div class="user-details">
  <h1> My Profile </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Academic Background</h2>
      <li>Oklahoma State University, Masters in Biological/Biosystems Engineering</li>
     <li>Punjab Agriculture University, B.Tech Agriculture</li>
    </div>
    <div class="tech">
      <h2>Work Experience</h2>
      <p>Graduate Research Assistant, Oklahoma State University</p>
    </div>
    <div class="tech">
      <h2>Skills</h2>
      <li>Computer Literacy: Microsoft Office.</li>
     <li>Statistical Analysis tools: Excel.</li>
     <li>Adept knowledge of biogas plant and different types of gasifiers.</li>
     <li>Adept knowledge of irrigation systems.</li>
    </div>
</div>
