 <div class="user-details">
  <h1> My Profile </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Academic Background</h2>
      <p>Oklahoma State University, Masters in Biological/Biosystems Engineering<p>
     <p>Punjab Agriculture University, B.Tech Agriculture</p>
    </div>
    <div class="tech">
      <h2>Work Experience</h2>
      <p>Graduate Research Assistant, Oklahoma State University</p>
    </div>
    <div class="tech">
      <h2>Skills</h2>
      <p>Computer Literacy: Microsoft Office.</p>
     <p>Statistical Analysis tools: Excel.</p>
     <p>Adept knowledge of biogas plant and different types of gasifiers.</p>
     <p>Adept knowledge of irrigation systems.</p>
    </div>
</div>
