 <div class="user-details">
  <h1> My Profile </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Academic Background</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Oklahoma State University, Masters in Biological/Biosystems Engineering
</p><br>
     <p>Punjab Agriculture University, B.Tech Agriculture</p><br>
    </div>
    <div class="tech">
      <h2>Work Experience</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Graduate Research Assistant, Oklahoma State University</p>
    </div>
    <div class="tech">
      <h2>Skills</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Computer Literacy: Microsoft Office.</p><br>
     <p>Statistical Analysis tools: Excel.</p><br>
     <p>Adept knowledge of biogas plant and different types of gasifiers.</p><br>
     <p>Adept knowledge of irrigation systems.</p><br>
    </div>
</div>
