<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Undergrad Project </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Working on anaerobic digestion and Biogas production using paddy straw.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/verka.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Training at Verka milk plant </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> Acquired working knowledge of Milk processing plant and cold storage through 30 days training at Verka Milk Plant, Ludhiana.</p>
  </div>
</div>
